* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/org/cd2h/N3CDashboardTagLib/DBTest.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/N3CDashboardTagLibBodyTagSupport.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/N3CDashboardTagLibTagSupport.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/Sequence.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/binding/Binding.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/binding/BindingCid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/binding/BindingDeleter.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/binding/BindingDid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/binding/BindingIterator.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/binding/BindingSeqnum.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/category/Category.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/category/CategoryCid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/category/CategoryDeleter.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/category/CategoryIterator.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/category/CategoryLabel.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/category/CategorySeqnum.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/Dashboard.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/DashboardBlurb.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/DashboardDeleter.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/DashboardDescription.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/DashboardDid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/DashboardIterator.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/DashboardLimitations.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/DashboardPath.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/DashboardThumbnail.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/DashboardThumbnailName.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/DashboardThumbnailPath.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/DashboardTitle.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/DashboardUploadServlet.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboard/FormUploadServlet.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboardTag/DashboardTag.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboardTag/DashboardTagDeleter.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboardTag/DashboardTagDid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboardTag/DashboardTagIterator.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboardTag/DashboardTagTid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboardType/DashboardType.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboardType/DashboardTypeDeleter.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboardType/DashboardTypeDid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboardType/DashboardTypeIterator.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/dashboardType/DashboardTypeTid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/relatedDashboard/RelatedDashboard.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/relatedDashboard/RelatedDashboardDeleter.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/relatedDashboard/RelatedDashboardDid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/relatedDashboard/RelatedDashboardIterator.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/relatedDashboard/RelatedDashboardRid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/relatedDashboard/RelatedDashboardSeqnum.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/tagDefinition/TagDefinition.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/tagDefinition/TagDefinitionDeleter.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/tagDefinition/TagDefinitionIterator.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/tagDefinition/TagDefinitionTag.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/tagDefinition/TagDefinitionTid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/topic/Topic.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/topic/TopicDeleter.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/topic/TopicDid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/topic/TopicIterator.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/topic/TopicPath.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/topic/TopicSeqnum.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/topic/TopicTid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/topic/TopicTitle.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/typeDefinition/TypeDefinition.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/typeDefinition/TypeDefinitionDeleter.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/typeDefinition/TypeDefinitionIterator.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/typeDefinition/TypeDefinitionTid.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/typeDefinition/TypeDefinitionType.java -text
src/main/java/org/cd2h/N3CDashboardTagLib/util/Functions.java -text
src/main/java/org/cd2h/n3c_dashboard/Demo.java -text
src/main/resources/META-INF/taglib.tld -text
src/main/webapp/META-INF/MANIFEST.MF -text
src/main/webapp/_include.jsp -text
src/main/webapp/binding/add.jsp -text
src/main/webapp/binding/delete.jsp -text
src/main/webapp/binding/edit.jsp -text
src/main/webapp/binding/list.jsp -text
src/main/webapp/binding/show.jsp -text
src/main/webapp/branding.jsp -text
src/main/webapp/category/add.jsp -text
src/main/webapp/category/delete.jsp -text
src/main/webapp/category/edit.jsp -text
src/main/webapp/category/list.jsp -text
src/main/webapp/category/show.jsp -text
src/main/webapp/dashboard/add.jsp -text
src/main/webapp/dashboard/delete.jsp -text
src/main/webapp/dashboard/displayDashboardThumbnail.jsp -text
src/main/webapp/dashboard/edit.jsp -text
src/main/webapp/dashboard/list.jsp -text
src/main/webapp/dashboard/show.jsp -text
src/main/webapp/dashboardTag/add.jsp -text
src/main/webapp/dashboardTag/delete.jsp -text
src/main/webapp/dashboardTag/edit.jsp -text
src/main/webapp/dashboardTag/list.jsp -text
src/main/webapp/dashboardTag/show.jsp -text
src/main/webapp/dashboardType/add.jsp -text
src/main/webapp/dashboardType/delete.jsp -text
src/main/webapp/dashboardType/edit.jsp -text
src/main/webapp/dashboardType/list.jsp -text
src/main/webapp/dashboardType/show.jsp -text
src/main/webapp/footer.jsp -text
src/main/webapp/head.jsp -text
src/main/webapp/header.jsp -text
src/main/webapp/index.jsp -text
src/main/webapp/menu.jsp -text
src/main/webapp/nav.jsp -text
src/main/webapp/relatedDashboard/add.jsp -text
src/main/webapp/relatedDashboard/delete.jsp -text
src/main/webapp/relatedDashboard/edit.jsp -text
src/main/webapp/relatedDashboard/list.jsp -text
src/main/webapp/relatedDashboard/show.jsp -text
src/main/webapp/tag/add.jsp -text
src/main/webapp/tag/delete.jsp -text
src/main/webapp/tag/edit.jsp -text
src/main/webapp/tag/list.jsp -text
src/main/webapp/tag/show.jsp -text
src/main/webapp/tagDefinition/add.jsp -text
src/main/webapp/tagDefinition/delete.jsp -text
src/main/webapp/tagDefinition/edit.jsp -text
src/main/webapp/tagDefinition/list.jsp -text
src/main/webapp/tagDefinition/show.jsp -text
src/main/webapp/topic/add.jsp -text
src/main/webapp/topic/delete.jsp -text
src/main/webapp/topic/edit.jsp -text
src/main/webapp/topic/list.jsp -text
src/main/webapp/topic/show.jsp -text
src/main/webapp/type/add.jsp -text
src/main/webapp/type/delete.jsp -text
src/main/webapp/type/edit.jsp -text
src/main/webapp/type/list.jsp -text
src/main/webapp/type/show.jsp -text
src/main/webapp/typeDefinition/add.jsp -text
src/main/webapp/typeDefinition/delete.jsp -text
src/main/webapp/typeDefinition/edit.jsp -text
src/main/webapp/typeDefinition/list.jsp -text
src/main/webapp/typeDefinition/show.jsp -text
src/non-packaged-resources/Model.clay -text
src/non-packaged-resources/d3-node/map-us-network.js -text
src/non-packaged-resources/d3-node/map-us.js -text
src/non-packaged-resources/d3-node/markers.csv -text
src/non-packaged-resources/d3-node/publications.js -text
src/non-packaged-resources/d3-node/test.js -text
src/non-packaged-resources/d3-node/us-states.json -text
src/non-packaged-resources/functions.tld -text
src/non-packaged-resources/model.sql -text
src/non-packaged-resources/monitoring.sql -text
